//General Colors

$primary-color: rgb(13, 114, 183);
$tx-color: rgb(73, 68, 68);
$bg-header-color: rgb(206, 235, 255);
$bg-section-one-color: rgb(255, 255, 255);
$bg-section-two-color: rgb(243, 243, 243);
$bg-footer-color: rgb(232, 234, 235);